body{
    display: block;
}
.outter-display{
    margin-left: 30%;
}
.display{
    width: 450px; 
    border: 3px solid rgba(118, 116, 115, 0.4);
    border-radius: 20px;
}
.display-container{
    text-align: left;
    padding: 5%;
    border-top: 1px solid rgba(157, 157, 157, 0.3);
    border-bottom: 2px solid rgba(157, 157, 157, 0.4);
}
.img{
    width: 100px;
    border-radius: 50%;
    border: 3px solid rgba(157, 157, 157, 0.4)
}
.container{
    float: right;
    text-align: right;
}
.btn{
    padding: 5px;
    background: rgba(113, 237, 142, 0.9);
    border-color: rgba(113, 237, 142, 0.9);
    color: white;
    border-radius: 10px;
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
}